### Modpack Files ###
.minecraft/*
!.minecraft/icon.png
!.minecraft/emi.json
!.minecraft/resourcepacks/
!.minecraft/mods/
!.minecraft/config/
!.minecraft/datapacks/
.minecraft/mods/*.jar
!.minecraft/mods/*.override.jar
.minecraft/config/spark/**
.minecraft/resourcepacks/*
!.minecraft/resourcepacks/core/
!.minecraft/resourcepacks/*.rpo
!.minecraft/resourcepacks/.index/

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

### Other ###
/desktop.ini
/resourcepacks/
/net/
/minecraft-1.21.1-source

### NOTICE ON AI USE ###
# AI tools were used for the following purposes:
# - Datapack generation
# - Web/documentation searching
# Note:
#   Some tasks are too long to reasonably do manually, and
#   require no creative or technical input.
#   AI is only used for these kinds of tasks.
#   All mod code and creative assets are made by humans.
*.claude
